.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
  }

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;

  }